<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <% if (currPage == 'dashboard') { %> 
      <li class="active">
    <% } else { %>
      <li>
    <% } %><a href="/admin/">首页</a></li>

    <% if (currPage == 'parcel') { %> 
      <li class="active">
    <% } else { %>
      <li>
    <% } %><a href="/admin/parcel">新增快递信息</a></li>

    <% if (currPage == 'userparcel') { %> 
      <li class="active">
    <% } else { %>
      <li>
    <% } %><a href="/admin/userparcel">所有快递记录</a></li>

    <% if (currPage == 'unmatched') { %> 
      <li class="active">
    <% } else { %>
      <li>
    <% } %><a href="/admin/unmatched">未配对的身份证</a></li>
    
  </ul>
</div>